@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}
:root {
    --cor0:hsl(211, 28%, 19%);
    --cor1:hsl(213, 9%, 39%);
    --cor2:hsl(232, 10%, 55%);
    --cor3:hsl(210, 4%, 67%);
    --cor4:hsl(7, 99%, 70%);
    --cor5:hsl(51, 100%, 49%);
    --cor6:hsl(167, 40%, 24%);
    --cor7:hsl(198, 62%, 26%);
    --cor9:hsl(168, 34%, 41%);
    --cor10:hsl(0, 0%, 100%);

    --font-padrao: 'Josefin Sans', sans-serif;
    --font-secundaria: 'Josefin Sans', sans-serif;

}

body {
    display:flex;
    flex-wrap: wrap;
    grid:repeat(2, 60px) auto-flow 80px ;
}

header {
    display: flex;
    position: relative;
}

#menu, h1 {
    position: absolute;
    flex: 1;
}

header > picture > img{
    max-width: 80vw;
}

.container {
    display: flex;
    width: 100vw;
    flex-basis: auto;}

picture > img {
    display: flex;
    float: left;
}

picture.galery {
    display: inline;
    
}

section {
    display: contents;
    width: 50em;
    flex-basis: auto;
}

div.text {
    text-align: center;
    width: 50vw;
}

section > picture {
    float: left;
}
section.client {
    display: flex;
    text-align: center;
    padding: 20px;
    height: 800px;
    
}

div#fruit {
    position: relative;
}

div#descricao {
    position: absolute;
    right: 20em;
}

aside {
    display: block;
    text-align: center;
    align-items: baseline;
    max-width: 500px;
    flex-basis: auto;

}

aside > img {
    align-items: center;
    border-radius: 90px;
    padding: 10px;

}

picture.galery {
    display: inline-flex;
    flex-direction: column;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    top: 10em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    text-align: center;
    height: 200px;
}