@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-family: var(--font-padrao);
}
:root {
    --cor0:hsl(211, 28%, 19%);
    --cor1:hsl(213, 9%, 39%);
    --cor2:hsl(232, 10%, 55%);
    --cor3:hsl(210, 4%, 67%);
    --cor4:hsl(7, 99%, 70%);
    --cor5:hsl(51, 100%, 49%);
    --cor6:hsl(167, 40%, 24%);
    --cor7:hsl(198, 62%, 26%);
    --cor9:hsl(168, 34%, 41%);
    --cor10:hsl(0, 0%, 100%);

    --font-padrao:  'Barlow', sans-serif;
    --font-secundaria: 'Fraunces', serif;

}

body {
    display:flex;
    flex-wrap: wrap;
    grid:repeat(2, 60px) auto-flow 80px ;
}

header {
    display: flex;
    position: relative;
}

h1 {
    color: white;
    letter-spacing: 2px;
    font-family: var(--font-secundaria);
    font-variant: small-caps;
    position: absolute;
    left: 40vw;
    top: 20vh;
}

.logoseta {
    position: absolute;
    left: 48vw;
    top: 45vh;
}

.menu > ul {
    position: absolute;
    padding: 20px;
    display: flex;
    right: 25px;
}

.menu > ul > li {
    list-style: none;
    margin-left: 30px;
}

.menu > ul > li > a {
    text-decoration: none;
}

.menu > ul > li > a:hover {
    font-family: var(--font-padrao);
    text-decoration: none;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
}

.logo > img {
    position: absolute;
    padding: 20px;
}

header > picture > img{
    max-width: 99vw;
}

.container {
    display: flex;
    width: 100vw;
    flex-basis: auto;
}

section > picture > img {
    display: flex;
    width: 49vw;
}

picture.galery {
    display: inline;
    
}

section {
    display: contents;
    width: 50em;
    flex-basis: auto;
}
  

div.text {
    text-align: center;
    width: 49vw;
}

section > picture {
    float: left;
}

div.title {
    text-align: center;
}

section.client {
    display: flex;
    text-align: center;
    padding: 30px;
    height: 800px;
    width: 90vw;  
}

@media screen and (max-width: 720px) {
    .client {
      flex-direction: column;
    }
}

div.fruit {
    position: relative;
}

div.descricao {
    position: absolute;
    right: 20em;
}

aside {
    display: block;
    text-align: center;
    align-items: baseline;
    max-width: 500px;
    flex-basis: auto;

}

aside > img {
    align-items: center;
    border-radius: 90px;
    padding: 10px;

}

picture.galery {
    display: inline-flex;
}

@media screen and (max-width: 720px) {
    .galery {
      flex-direction: column;
    }
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: relative;
    top: 10em;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

footer {
    position: relative;
    text-align: center;
    height: 200px;
    bottom: 0;
}